body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #ffc0cb20;
  color: #9f587d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #ffc0cb;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  background-color: #ffc0cb40;
  border: 1px solid #ffc0cb40;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type='submit'] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2.5em;
  font-size: 1.1rem;
  color: #9f587d;
  background-color: #ffc0cb40;
  border-color: #ffc0cb40;
  min-width: 300px;
}

input[type='submit']:hover {
  cursor: pointer;
}

input[type='file'] {
  padding: 1px 2px;
}

a {
  color: #ff619b;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
